.header {
    background: #27273e ;
}
.header__inf-number {
    color: #fff;
}
[title] {
    color: #b12167;
    font-size: 16px;
}
.sitebar__item-title {
    display: inline;
}
.footer {
    background: #27273e ;
}
.footer__inf,.socialnetworks__title {
    color: #FFF;
}
.wrapper {
    width: 1100px;   
}
body {
    font-family: 'Special Elite', cursive;
}
.publications__item-icon {
    border-radius: 100px;
    height: 160px;
    width: 160px;   
}
.subunit,.sitebar__item {
    list-style: none;
}
.sitebar__item-link {
    color: #ef3c8b;
    text-decoration: none;
}
.loftchool {
    color: #fff;
}
body {
    background: #fff;
}
.features__title,.subunit__item-title {
    font-family: 'Special Elite', cursive;
    font-weight: bold;
}
.publications__item-date {
    font-weight: lighter;
    font-size: 12px;
}
.header__inf-number {
    font-size: 20px;
}
.publications__item-title {
    font-size: 13px;
    font-weight: bold;
}
.publications__item-text {
    font-size: 14px;
}
.latestnews__publications {

}
.subunit__item-text,.subunit__item-list {
    font-size: 13px;
}
.subunit__item-title {
    font-size: 8px;
}
.publications,.pages__switch {
    list-style: none;
}
.sitebar__item-title:hover {
    text-decoration: underline;
    color: #222;
}
