.header {
    background: #27273e;
    color: #fff;
}

.header__inf-number {
    font-size: 15px;
    font-weight: bold;
}

.header__inf-schedule {
    color: #b12167;
    font-size: 12px;
}

body {
    font-family: 'Special Elite', cursive;
    margin: 0 auto;
    background-color: #fff;
    width: 1100px;
}

.sitebar__block,.subunit,.publications,.socialnetworks__link {
    list-style: none;
}

.triangle {
    background-image: url("../img-new/main_icon-pink.png");
    background-repeat: no-repeat;
    background-position: center;
    color: #ef3c8b;
    text-decoration: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 19px;
}

.triangle:hover {
    background-image: url("../img-new/main_icon.png");
    color: #000;
}

.star {
    background-image: url("../img-new/feed_icon.png");
    background-repeat: no-repeat;
    background-position: center;
    color: #ef3c8b;
    text-decoration: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 19px;
}

.star:hover {
    background-image: url("../img-new/star-black.png");
    color: #000;
}

.purse {
    background-image: url("../img-new/wallet_icon.png");
    background-repeat: no-repeat;
    background-position: center;
    color: #ef3c8b;
    text-decoration: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 19px;
}

.purse:hover {
    background-image: url("../img-new/wallet-black.png");
    color: #000;
}

.features__title {
    font-size: 36px;
    font-weight: bold;
}

.subunit__item-title {
    font-size: 11px;
}

.subunit__item-text {
    font-size: 18px;
}

.publications__item-icon {
    border-radius: 100px;
    height: 160px;
    width: 160px; 
}

.publications__item-date {
    font-size: 10px;
    font-weight: lighter;
}

.publications__item-title,.publications__item-text {
    font-size: 17px;
}

.clearfix:before {
    content: "";
    display: block;
    clear: both;
}

.header__logo,.footer__logo {
    height: 50px;
    width: 100px;
}

.header__logo {
    float: left;
    margin-left: 19px;
    margin-top: 12px;
}

.header__inf {
    float: right;
    margin-right: 21px;
     margin-top: 21px;
}

.header__inf-schedule {
    float: right;
    margin-top: 8px;
}

.socialnetworks__link-vk {
    background-image: url("../img-new/vk.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}

.socialnetworks__link-vk:hover {
    background-image: url("../img-new/vk-pink.png");
}

.socialnetworks__link-f {
    background-image: url("../img-new/fb.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}

.socialnetworks__link-f:hover {
    background-image: url("../img-new/fb-pink.png");
}

.socialnetworks__link-g {
    background-image: url("../img-new/google.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}

.socialnetworks__link-g:hover {
    background-image: url("../img-new/google-pink.png");
}

.socialnetworks__link-t {
    background-image: url("../img-new/twitter.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}

.socialnetworks__link-t:hover {
    background-image: url("../img-new/twitter-pink.png");
}

.socialnetworks__link-m {
    background-image: url("../img-new/mail.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}

.socialnetworks__link-m:hover {
    background-image: url("../img-new/mail-pink.png");
}

.footer {
    background-color: #27273e;
    color: #fff;
}

.footer__link {
    color: #fff;
}

.pages__switch-link {
    text-decoration: none;
    display: inline-block;
}

.pages__switch a {
    list-style: none;
    text-decoration: none;
    color: #3d3b3b;
    padding: 8px 8px;
    font-size: 14px;
}

.pages__switch a:active {
    background-color: #3d3b3b;
    color: #fff;
}

.sitebar__block {
    width: 90px;
    float: left;
}

.features {
    width: 750px;
    float: left;
    margin-left: 76px;
    margin-right:  144px;
}

.latestnews__block {
    width: 892px;
    display: inline-block;
    margin-left: 190px;
}

.pages__menu {
    width: 336px;
    display: inline-block;
    margin-left: 472px;
}

.footer {
    width: 1100px;
    display: inline-block;
    margin: 0 auto;
}

.footer__inf {
    width: 300px;
    float: left;
    margin-left: 19px;
    margin-top: 14px;
    margin-bottom: 6px;
}

.footer__logo {
    float: left;
    margin-right: 213px;
    margin-left: 213px;
    margin-top: 14px;
    margin-bottom: 12px;
}

.socialnetworks {
    float: right;
    margin-left: 300;
    margin-top: 20px;
    margin-right: 50px;
    padding: 0;
}

.socialnetworks__title {
    font-style: 14px;
}

.socialnetworks__link {
    width: 140px;
}

.socialnetworks__link-vk {
    float: left;
    padding-right: 10px;
}
.socialnetworks__link-f {
    float: left;
    padding-right: 10px;
}
.socialnetworks__link-g {
    float: left;
    padding-right: 10px;
}
.socialnetworks__link-t {
    float: left;
    padding-right: 10px;
}
.socialnetworks__link-m {
    float: left;
    padding-left: 10px;
}